.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
}

.select-all-button {
  margin: 16px;
}

.content {
  padding: 8px 16px;
}

.gear-item {
  padding: 8px 0;
}

.gear-item label {
  margin-left: 8px;
}